@using Filminurk.Core.Domain
@using Filminurk.Models.Actors

@model Filminurk.Models.Actors.ActorsCreateUpdateViewModel

<!--Siin on Cereate update-->
@if (Model.ID == Guid.Empty)
{

	<h1>Lisa Actor</h1>
}
else
{
	<h1>Muuda Actor</h1>
}

<div>
	<form method="post" enctype="multipart/form-data">
		<input asp-for="ID" type="hidden" />


		<div class="form-group row">
			<label asp-for="FirstName" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<input asp-for="FirstName" class="form-control" />
			</div>
		</div>
		<div class="form-group row">
			<label asp-for="LastName" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<input asp-for="LastName" class="form-control" />
			</div>
		</div>
		<div class="form-group row">
			<label asp-for="NickName" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<input asp-for="NickName" class="form-control" />
			</div>
		</div>
		<div class="form-group row">
			<label asp-for="MoviesActedFor" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<input asp-for="MoviesActedFor" class="form-control" />
			</div>
		</div>
		<div class="form-group row">
			<label asp-for="ActorRating" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<input asp-for="ActorRating" class="form-control" />
			</div>
		</div>
		<!-- Genre -->
		<div class="form-group row">
			<label asp-for="MostActedGenre" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<select asp-for="MostActedGenre" asp-items="Html.GetEnumSelectList<Genre>()">
					<option value="">-- Select Genre --</option>
				</select>
			</div>
		</div>
		<!-- Gender -->
		<div class="form-group row">
			<label asp-for="Gender" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()">
					<option value="">-- Select Gender --</option>
				</select>
			</div>
		</div>



		@if (Model.ID == Guid.Empty)
		{
			<div class="form-group row">
				<label asp-for="PortraitID" class="col-sm-2 col-form-label"></label>
				<div class="col-sm-10">
					<input class="form-control" asp-for="PortraitID" multiple type="file" />
				</div>
			</div>
			<input asp-for="EntryCreatedAt" type="hidden" />
			<input asp-action="Create" asp-controller="Actors" type="submit" class="btn btn-primary" value="Create" />
		}
		else
		{
				<input type="hidden" asp-for="PortraitID" />
			<input asp-for="EntryModifiedAt" type="hidden" />
			<input asp-action="Update" asp-controller="Actors" type="submit" class="btn btn-primary" value="Update" />

		}
	</form>

</div>
