@model Filminurk.Models.OMDbApi.OMDbApiSearchViewModel

<h2>Import OMDb-st</h2>

<form asp-action="FindMovie" method="post">
    <div>
        <label>Filmi nimi</label><br />
        <input asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>

    <button type="submit">Impordi</button>

    <div asp-validation-summary="All"></div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
